@import '../../App.scss';

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     .content{
      img{
         width: 200px;
         height: 200px;
         line-height: 55px;
         object-fit: contain;
      }
   }
}