@import '../../App.scss';

#user-dashboard {
  .content {
    .grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-top: -4rem;
      padding: 0 .5rem;
      @include responsive($lg){
        grid-template-columns: repeat(1, 1fr);
      }
      .col-1{
         border-radius: 5px;
         z-index: 1;
         background: #fff;
      }
      .col-2{
        border-radius: 5px;
        z-index: 1;
        background: #fff;
     }
      
    }
  }

}



