@import '../../App.scss';

#user-dashboard {
  .content {
    .grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-top: -4rem;
      padding: 0 .5rem;
      @include responsive($lg){
        grid-template-columns: repeat(1, 1fr);
      }
      .col-1{
         border-radius: 5px;
         z-index: 1;
         background: #fff;
      }
      .col-2{
        border-radius: 5px;
        z-index: 1;
        background: #fff;
     }
      
    }
    .transfer{
       display: flex;
       flex-direction: column;
       margin: 1rem 0.5rem;
       box-shadow: $dashboard_shadow;
       padding: 0.5rem 1rem;
       .transfer-form{
         h1{
           color: $base_color;
           letter-spacing: 0.03em;
           font-weight: 400;
         }
         .form-inputs{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
           .form-content{
               display: flex;
               flex-direction: column;
               label{
                 margin-top:1.5rem;
                 padding-top: 0.6rem;
               }
               select{
                 margin-top:0.5rem;
                 padding: 0.5rem ;
                 outline: none;
               }
               .input-feedback{
                 color: red;
                 font-size: 10px;
               }
           }
         }
        }
      }
      
    }
    
  }
  
  
  .submit{
     background: $base_color;
     color: #fff;
     font-weight: 400;
     margin-top: 1rem ;
     border: none;
     padding: 0.5rem 1.5rem;
     letter-spacing: 0.03em;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
   }
   .submit:hover{
      opacity: 0.6;
   }
   .submiting{
      opacity: 0.2;
   }